/*--scroll animation--*/

.scroll {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 11px;
    height: 100px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll:after,
.scroll:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 1px;
    height: 100%;
    content: ''
}

.scroll:before {
    z-index: 10;
    -webkit-animation: scroll 2.4s infinite normal;
    animation: scroll 2.4s infinite normal;
    background: #333
}

.scroll:after {
    background: #cacaca
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate3d(0, -100%, 0)
    }
    15% {
        -webkit-transform: translate3d(0, -98%, 0)
    }
    85% {
        -webkit-transform: translate3d(0, 98%, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 100%, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate3d(0, -100%, 0)
    }
    15% {
        transform: translate3d(0, -98%, 0)
    }
    85% {
        transform: translate3d(0, 98%, 0)
    }
    100% {
        transform: translate3d(0, 100%, 0)
    }
}


/*----*/

h1 {
	font-size: 3.5em;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
    margin: 10px auto;
	
}

h2 {
	font-family: 'Playfair Display', serif;
	font-size: 3em;
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: 400;
	color: #333447;
}
/*---

h1, h2 {

    font-size: 2.5em;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    letter-spacing: .13em;
    margin: 10px auto;
    text-transform: uppercase;
}

--*/

h4 {
	font-family: 'Muli', sans-serif;
	font-weight: 500;
	letter-spacing: 0.1em;
	color: #cfcfcf;
	text-transform: uppercase;
}

p {
	font-family: 'Muli', sans-serif;
}

.main-nav {
    height: 100px;
    margin-right: 5%;
    float: right;
}

.main-nav ul {
    list-style: none;
}

.main-nav li {
	margin: 30px 20px;
    display: inline-block;
}

.main-nav a {
	text-decoration: none;
    height: 70px;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8b8c9a;
    position:relative;
}

.main-nav a::before,
.main-nav a::after {
    content: '';
    background: #333447;
    position: absolute;
    top: 50%;
    height: 2px;
    width: 0;
  }
  
.main-nav a::before {
    left: 0;
  }
  
.main-nav a::after {
    right: 0;
    transition: width 200ms ease;
  }
  
.main-nav a:hover::before {
	  width: 100%;  
	  transition: width 200ms ease;
}

.main-nav a:hover::after {
	  width: 100%;
	  background: transparent;
	  transition: 0;
}

.main-nav a:hover {
	color: #333447;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}




/*----------- Homepage -----------*/

/*--- hero gradient tool
.hero {

background-color: #f5abff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23d3deff'/%3E%3Cstop offset='1' stop-color='%23d3deff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%236d5dff'/%3E%3Cstop offset='1' stop-color='%236d5dff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2384fffa'/%3E%3Cstop offset='1' stop-color='%2384fffa' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23f5abff'/%3E%3Cstop offset='1' stop-color='%23f5abff' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23fafffd'/%3E%3Cstop offset='1' stop-color='%23fafffd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%230fb3ff'/%3E%3Cstop offset='1' stop-color='%230fb3ff' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
background-position: center;
}
--*/


.hero {
	height: 80vh;
	background-image: url("../images/hero-background.png");
/*--background-image: url("../images/aurora@3x.jpg");--*/
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;	
	position: relative;
}


/*--partial highlight-
.hero a {
	background: linear-gradient(to bottom, transparent 0%, transparent 60%, #fbf36d 60%, #fbf36d 100%);
	color: #000;
	text-decoration: none;
}

-*/

.hero-intro {
	text-align: center;
	width: 400px;
    margin: 0;
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

.hero p{
	margin: 0;
}

/*--off to the side hero text
.hero-intro {
	display: inline-block;
    margin: 80px 30px;
}
--*/

/*--work button--*/
.button-work {
    margin-top: 2em;
	font-family: 'Muli', sans-serif;
	font-weight: 500;
	font-size: .8em;
	color: #000;
	letter-spacing: 0.1em;
	text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    border: solid #000 1px;
    border-radius: 2px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}


.button-work:hover {
	background-color: #333447;
    color: white;
}

/*---fade in hero--*/

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.fade-in.one {
-webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;
}

.fade-in.two {
-webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.fade-in.three {
-webkit-animation-delay: 1.6s;
-moz-animation-delay: 1.6s;
animation-delay: 1.6s;
}

.fadeInBlock {
   opacity:0;
}
/*-----*/

.opacity {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to top, #ffffff, rgba(250, 250, 250, 0.0));
}

section {
	padding: 10px 0;
	outline:none;
}


.section-title {
  width: 200px;
  margin: 50px auto;

}

.section-title h3 {
  position: relative;
  text-align: center;
}

.section-title span {
  color: #d0d0d0;
  font-family: 'Muli', sans-serif;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.section-title h3:before {
  background: #f1f1f1;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
}

/*--
.work > .project ~ .project {
	margin-top: 200px;
	margin-bottom: 200px;
}
--*/


.line {
    height: 245px;
    width: 2px;
    margin-left: 5% !important;
    background-color: lavender;
}

.left-border {
	border-left: 2px solid #CFCFCF;
	padding-left: 25px; 
	height: 100%;
}

.project {
	margin: 0;
}

#work .project:first-of-type {
	margin-top: 10%;
}

#work .project:last-of-type {
	margin-bottom: 0;
}

.project-info {
	position: relative;
	
}

.project h2 {
	margin: 0;
}

.project a {
	text-decoration: none;
}

.project-img img {
    width: 100%;
    max-width: 500px;
    height: auto;
	background-size: contain;
}

.project .row {
	padding-top: 10%;
	background-image: url("../images/splash01.png");
	background-repeat: no-repeat; 
  background-size: 80%;
  background-position: 60% -50%;
}

/*--RentApp UX colors--*/

#rentapp-ux{
	background-image: url("../images/rentapp-ux-paint.png");
}

#rentapp-ux .left-border {
	border-color: #E2E2FF;
}

#rentapp-ux-case h2 {
	border-color: #E2E2FF;
}

/*--RentApp UI colors--*/

#rentapp-ui {
	background-image: url("../images/rentapp-ui-paint.png");
}

#rentapp-ui .left-border {
	border-color: #F3EAFC;	
}


#rentapp-ui-case h2 {
	border-color: #F3EAFC;	
}


#rentapp-ui .project-img img {
	margin-top: -6%;
	max-width: 430px;
}

.case-hero#rentapp-ui img{
	margin-top: -3%;
  margin-right: 4%;
	max-width: 430px;
}



/*--Oranj colors--*/

#oranj {
	background-image: url("../images/oranj-paint.png");
}

#oranj .left-border {
	border-color: #FCE7E5;
}

#oranj-case h2 {
	border-color: #FCE7E5;	
}




.project h2, .project p {
	-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.project:hover p {color: #8B8C9A;}
.project:hover h2 {color: #8B8C9A;}


/*-WEIRD LINE HIGHLIGHT----
.project-title {
  position: relative;
  display: block;
  cursor: pointer;
}

.project-title:before, .project-title:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 20px;
  top: 40%;
  margin-top: -0.5px;
  background: rgba(185, 185, 246, 0.38);;
}


.project-title:before {
  left: -2.5px;
}
.project-title:after {
  right: 2.5px;
  background: rgba(185, 185, 246, 0.38);;
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.project:hover .project-title:before {
  width: 100%;
  transition: width 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.project:hover .project-title:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}
--*/

img#about-photo {
	width: 250px;
	margin-top: 23px;
}

#about .container {
	margin: 5% auto;
}

.about-text {
	margin-left: 30px;
}

.about-text h2 {
	margin: 0;
}

/*--resume button--*/
.button-resume {
    margin: 2% auto;
	font-family: 'Muli', sans-serif;
	font-weight: 500;
	font-size: .8em;
	color: #000;
	letter-spacing: 0.1em;
	text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    padding: 15px 30px;
    border: solid #000 1px;
    border-radius: 2px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}


.button-resume:hover {
	background-color: #333447;
    color: white;
}

#social-links .background {
	margin: 0;
  width: 100vw;
}

#social-links h2 {
  padding: 0 4%;

}

#social-links .section-title span{
	background: #f8f8f8;
}

#social-links ul {
	text-align: center;
    list-style: none;
    margin: 60px auto;
    padding: 0;
}


#social-links li {
	margin-right: 10%;
    display: inline-block;
}

#social-links li:last-child {
	margin-right: 0;
}

#social-links a {
	text-decoration: none;
    height: 70px;
    font-family: "Muli", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #8b8c9a;

}

#social-links a:hover{
	color: #000;
}

footer {
	background-color: #fff;
	height: 70px;
	position: relative;
}

footer p{
    text-align: center;
    font-size: .8em;
    color: #757575;
    margin: 0;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}





/*----grey hover project background--
.project:hover {
	height: 500px;
    background-color: #f8f8f8;
}
-*/

#splash {
    background-image: url("../images/splash01.png");
    background-repeat: no-repeat;  
    background-size: contain;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90%;
    top: -7%;
    left: 20%;
}

#RentApp:hover h2 {color: pink; }

.about p {
	text-align:left;
}

img.about-photo {
	width: 250px;
}




/*----- mobile -----*/

@media only screen and (max-width: 480px) {
    
    #splash {
		height: 60%;
		width: 100%;
		top: 55%;
		left: 0%;
	}
}

/*----------- pink background/red text---

.project-title a {
  background: linear-gradient(to right, #fff 50%, rgba(255, 0, 0, 0.2) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  color: #33347;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-decoration: none;
  transition: background-position 0.3s ease-out;
}
.project-title a:hover {
  background-position: -99.99% 0;
  color: red;
}
-------*/
/*----------- Case Study -----------*/

.case-hero {
	width: 100%;
	background-color: #fff;
	background-size: cover;
	background-image: url("../images/splash01.png");
	background-repeat: no-repeat; 
    background-size: 75%;
    background-position: 80% 50%;
}

.case-title {
    width: 600px;
    text-align: center;
    margin: 2% auto 5%;
}

.case-title h1{
	font-size: 3.8em;
}

.case-title p {
	color: #8b8c9a;
	font-weight: 300;
	margin: 0 auto;

}

.hero-box {
	margin: 5% auto;
	width: 80%;
}

.hero-box:after {
    content: "";
    clear: both;
    display: table;
}

.case-about {
    width: 40%;
    min-width: 100px;
    margin-right: 50px;
    float: left;
}

.case-about h4 {
	margin: 0;
}

.case-about p {
	margin: 10px 0 0;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.85;
    color: #4A4A4A;
}

.case-hero img { 
	float: right;
    width: 50%;
    max-width: 600px;
}

.case-hero:after {
	content: "";
    clear: both;
    display: table;
}

.intro {
	clear: both;
	margin: 0 auto 20px;
	padding: 35px 0;
	background-color: #f8f8f8;
}

.intro .container {
	width: 100%;
    max-width: 100rem;
}

.intro .center {
    width: 75%;
    margin: 0 auto;
    padding-left: 7%;
}

.intro .detail {
	vertical-align: middle;
    display: inline-block;
    width: 29%; /*--250px?--*/
    text-align: left;
    margin: 0 2%;
}

.detail:first-of-type {
    margin-left: 0;
}

.detail:last-of-type {
    margin-right: 0;
}

.intro .container h4 {
	margin: 0;
}

.intro .container p {
	font-size: 1.125em;
	font-weight: 400;
	margin: 1% auto 0;
	line-height: 1.3;
}

.background {
	background-color: #f8f8f8;
	padding: 4% 0;
	margin: 4% 0;
	border-top: .5px solid #efefef;
	border-bottom: .5px solid #efefef;
}


main h2 {
  	font-family: 'Muli', sans-serif;	
	font-size: 2.5em;
	margin: 5% auto;
	border-left: 3px solid pink;
	padding-left: 20px; 
	height: 100%;
}

main h3 {
    margin: 4% 0;	
	text-align: left;
	font-size: 1.25em;
  	font-family: 'Muli', sans-serif;
  	font-weight: 600;
  	letter-spacing: 0.1em;
  	text-transform: uppercase;

}

main h3.underline {
	text-align: center;
	font-size: 1.25em;
  	font-family: 'Muli', sans-serif;
  	font-weight: 400;
  	letter-spacing: 0.1em;
  	text-transform: uppercase;
  	margin: 30px 0;
}

main h3#design-process:after {
	width: 20%;
}

main h3#oranj-flow:after {
	width: 30%;
}

main h3#oranj-final-prototype:after {
	width: 30%;
}


img#ra-old-mobile {
	max-width:250px;
}


img#ra-ux-newflow {
	margin-top: 0;
}

main h3.underline:after{
    background: none repeat scroll 0 0 #dadada;
	bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 10%;
    margin: auto;
    margin-bottom: 30px;
 }

main img {
	max-width: 100%;
    height: auto;
    margin: 3.5% auto;
}

.big-quote {
	font-size: 1.35em;
	font-weight: 600;
	margin: 6.5% auto;
}

.shadow img {
    margin: 5% 0%;
	-webkit-box-shadow: 0px 0px 23px 2px rgba199,195,199,0.3;
	-moz-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
	box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
}

img.shadow {
    margin: 5% 0%;
	-webkit-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
	-moz-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
	box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
}


img.round {
	border-radius: 50%;
    border: 1px solid #eeeeee;
}


p.caption {
	font-size: .9rem;
	color: #5d5d5d;
}

img.caption {
	margin-bottom: 0;
}


img.full-width {
	width: 100%;
}

img#design-process {
	margin-top: 20px;
	margin-bottom: 5%;
	width: 600px;
}

#oranj-ideate img {
	width: 200px;
}

#oranj-ideate p, #oranj-ideate h4{
	padding-left: 12%;
}

img#old-flow {
	margin-top: 0;
}

img#ra-ux-hotjar {
	width: 700px;
}

img#ra-ux-results {
	width: 500px;
}

#ra-personas img {
	width: 500px;
}

#ra-pricing img {
	width: 430px;
}

#new-landing img {
	margin-top: 0;
	width: 600px;
}

img#ra-ui-old-landing {
	width: 600px;
	margin-top: 0;
}


h4.problem {
	font-family: 'Muli', sans-serif;
	font-weight: 600;
	letter-spacing: 0.1em;
	color: #FC1C61;
	text-transform: uppercase;
	display: inline-block;
	margin: 3% 0 auto;
}

h4.bold-p{
	font-family: 'Muli', sans-serif;
	text-align: left;
	text-transform: capitalize;
	letter-spacing: 0;
	font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8;
    color: #333447;
    margin: 0;
}

img.lightbulb {
	width: 60px;
	margin-top:30px;
}

.divider-line {
    width: 80%;
    height: 1px;
    background-color: #efefef;
    margin: 30px auto;
}

.mobile-divider-line {
	display: none;
    width: 80%;
    height: 1px;
    background-color: #efefef;
    margin: 30px auto;
}

p.bold {
	font-size: 1.25rem;
	font-weight: 600;
    margin-top: 0;
    margin-bottom: -15px;	
}

/*----- mobile 846 ------*/

@media only screen and (max-width: 846px) {

    .case-hero img {
    	width: 85%;
    	display: block;
    	float: none;
    	margin: 0 auto;
	}

    .case-hero .left-border {
		width: 100%;
    	margin: auto;
    	padding-left: 0%;
    	font-size: 0.85rem;
    	border: none;
	}
	
	.case-about {
		width: 96%;
		margin: 0 auto;
		margin-top: -8%;
		float: none;
	}

	.hero-box {
		background-position: 50% 10%; 
	}

	.intro .center {
		padding-left: 0;
		width: 79%;
	}

	.intro .detail{
	    width: 100%;
		margin: 8% 0 0;
	}

	.detail:first-of-type {
    	margin-top: 0;
	}

}

@media only screen and (max-width: 720px) {

	.project{
		margin: 10% auto;
	}

	.case-title {
		width: 80%;
	}

	.mobile-divider-line {
		display: block;
	}

	.line {
		display: none;
	}

	.left-border {
		border: none;
		padding-left: 0; 
	}

	.button-resume {
	   margin: 0 auto;
	}

	#oranj-ideate p, #oranj-ideate h4 {
    padding-left: 0;

	}

    h4.bold-p {
    text-align: center;
    }

}

@media only screen and (max-width: 540px) {

	.case-title {
		margin-bottom: 10%;
	}

	.case-title h1 {
		font-size: 3em;
		margin: 10px auto;
	}

	h1 {
		font-size: 3em;
		margin: 0;
	}


	h2 {
		font-size: 2.5em;
		line-height: 1.2;
	}

	main h2 {
		font-size: 2em;
		line-height: 1.2;
		border: none;
		padding: 0;
	}

	.main-nav li{
		margin: 10px 10px;
	}


}



/*----------- Slant (case study) --------
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 80%);
	clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 80%);

	-----------*/