
h1, h2 {
	font-family: 'Playfair Display', serif;
	font-weight: 700;
    margin: 10px auto;

}

h4 {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 0.1em;
	color: #B2B2B2;
	text-transform: uppercase;
}

.main-nav {
	display: none;
    height: 100px;
    margin-right: 5%;
    float: right;
}

.main-nav ul {
    list-style: none;
}

.main-nav li {
	margin: 30px 20px 30px 20px;
    display: inline-block;
}

.main-nav a {
	text-decoration: none;
    height: 70px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: #000;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/*----------- Homepage -----------*/


.hero {
	height: 70vh;
	background-color: #f8f8f8;
background-image: url("../images/aurora@3x.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.hero a {
	background: linear-gradient(to bottom, transparent 0%, transparent 60%, #fbf36d 60%, #fbf36d 100%);
	color: #000;
	text-decoration: none;
}

.hero-intro {
	display: inline-block;
    margin: 80px 30px;
}

.opacity {
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to top, #ffffff, rgba(250, 250, 250, 0.0));
}


.section-title {
  width: 200px;
  margin: 50px auto;

}

.section-title h3 {
  position: relative;
  text-align: center;
}

.section-title span {
  color: #d0d0d0;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #fff;
  padding: 0 15px;
  position: relative;
  z-index: 1;
}

.section-title h3:before {
  background: #f1f1f1;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
}

.project {
	margin-top: 300px;
}

.project:first-of-type {
	margin-top: 13%;
}
.project a {
	text-decoration: none;
}

.project .row {
    height: 300px;
}

.line {
    height: 245px;
    width: 2px;
    margin-left: 5% !important;
    background-color: lavender;
}

.project-info {
	position: relative;
	
}

.left-border {
	border-left: 2px solid lavender;
	padding-left: 30px; 
	height: 100%;
}

.project-img img{
	width: 100%;
	min-width: 200px;
	height: auto;
	background-size: cover;
}

#oranj {
	background-image: url("../images/splash01.png");
	background-repeat: no-repeat; 
	background-size: contain;
	background-position: 50% 50%; 
}

#oranj:hover h2 {color: pink;}
#oranj:hover p {color: pink;}
#oranj:hover h4 {color: #ececec;}FFC1A9

/*----grey hover project background--
.project:hover {
	height: 500px;
    background-color: #f8f8f8;
}
-*/

#splash {
    background-image: url("../images/splash01.png");
    background-repeat: no-repeat;  
    background-size: contain;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 90%;
    top: -7%;
    left: 20%;
}

#RentApp:hover h2 {color: pink; }

/*----- mobile -----*/

@media only screen and (max-width: 480px) {
    
    #splash {
		height: 60%;
		width: 100%;
		top: 55%;
		left: 0%;
	}
}

/*----------- pink background/red text---

.project-title a {
  background: linear-gradient(to right, #fff 50%, rgba(255, 0, 0, 0.2) 50%);
  background-position: -0% 0;
  background-size: 200% auto;
  color: #33347;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  text-decoration: none;
  transition: background-position 0.3s ease-out;
}
.project-title a:hover {
  background-position: -99.99% 0;
  color: red;
}
-------*/
/*----------- Case Study -----------*/

.case-main h2 {
	font-family: 'Lato', sans-serif;
	font-size: 1.8rem;
}

.case-hero {
	width: 100%;
	background-color: #fff;
	background-size: cover;
}

.case-title {
	padding: 70px 20px 0px 20px;
	text-align: center;
	margin: 0 auto;
}

.case-title h1{
	font-size: 3.8em;
}

.case-title p {
    width: 80%;
	color: #AFAFAF;
	margin: 0 auto;

}

.hero-box {
	margin: 5% auto 0;
	width: 80%;
	background-image: url("../images/splash01.png");
	background-repeat: no-repeat; 
	background-size: contain;
	background-position: 50% 50%; 
}

.hero-box:after {
    content: "";
    clear: both;
    display: table;
}

.case-about {
    width: 35%;
    min-width: 300px;
    margin-top: 2%;
    margin-right: 50px;
    float: right;
}

.case-about h4 {
	margin: 0;
}

.case-about p {
	margin-top: 10px;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.85;
    color: #4A4A4A;
}

.case-hero img {
	float: right;
    width: 55%;
    max-width: 600px;
}

.case-hero:after {
	content: "";
    clear: both;
    display: table;
}

.intro {
	clear: both;
	margin: 0 auto 20px;
	padding: 35px 0;
	background-color: #f8f8f8;
}

.intro .container {
	width: 100%;
    max-width: 100rem;
}

.intro .center {
    width: 75%;
    margin: 0 auto;
    padding-left: 4%;
}

.intro .detail {
	vertical-align: top;
    display: inline-block;
    width: 29%; /*--250px?--*/
    text-align: left;
    margin: 0 2%;
}

.detail:first-of-type {
    margin-left: 0;
}

.detail:last-of-type {
    margin-right: 0;
}

.intro .container h4 {
	margin: 0;
}

.intro .container p {
	font-size: 1.3rem;
	margin: 0 auto;
	line-height: 1.3;
}

.background {
	background-color: #f8f8f8;
	padding: 2% 0;
	margin: 20px 0;
	border-top: .5px solid #efefef;
	border-bottom: .5px solid #efefef;
}

main h2 {
	margin: 5% auto;
}

main h2 {
	border-left: 3px solid pink;
	padding-left: 20px; 
	height: 100%;
}

main h3 {
    margin-top: 4%;	
	text-align: left;
	font-size: 1.25em;
  	font-family: 'Work Sans', sans-serif;
  	font-weight: 500;
  	letter-spacing: 0.1em;
  	text-transform: uppercase;

}

main h3.underline {
	text-align: center;
	font-size: 1.25em;
  	font-family: 'Work Sans', sans-serif;
  	font-weight: 400;
  	letter-spacing: 0.1em;
  	text-transform: uppercase;
  	margin: 5% 0;
}

main h3#design-process:after {
	width: 20%;
}

main h3#oranj-flow:after {
	width: 30%;
}

main h3#oranj-final-prototype:after {
	width: 30%;
}


img#ra-old-mobile {
	max-width:250px;
}


img#ra-ux-newflow {
	margin-top: 0;
}

main h3.underline:after{
    background: none repeat scroll 0 0 #dadada;
	bottom: -10px;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 10%;
    margin: auto;
    margin-bottom: 30px;
 }

main img {
	max-width: 100%;
    height: auto;
    margin: 3.5% auto;
}

.big-quote {
	font-size: 1.35em;
	font-weight: 600;
	margin: 6.5% auto;
}

.shadow img {
    margin: 5% 0%;
	-webkit-box-shadow: 0px 0px 23px 2px rgba199,195,199,0.3;
	-moz-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
	box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
}

img.shadow {
    margin: 5% 0%;
	-webkit-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
	-moz-box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
	box-shadow: 0px 0px 23px 2px rgba(199,195,199,0.3);
}


img.round {
	border-radius: 50%;
    border: 1px solid #eeeeee;
}


p.caption {
	font-size: .9rem;
	color: #5d5d5d;
}

img.caption {
	margin-bottom: 0;
}


img.full-width {
	width: 100%;
}

img#design-process {
	margin-top: 20px;
	margin-bottom: 5%;
	width: 600px;
}

#oranj-ideate p{
	padding-left: 12%;
}

img#ra-ux-hotjar {
	width: 600px
}

img#old-flow {
	margin-top: 0;
}

img#ra-ux-hotjar {
	width: 700px;
}

img#ra-ux-results {
	width: 500px;
}

#ra-personas img {
	width: 500px;
}

#ra-pricing img {
	width: 430px;
}

#new-landing img {
	margin-top: 0;
	width: 600px;
}

img#ra-ui-old-landing {
	width: 600px;
	margin-top: 0;
}




h4.problem {
	font-family: 'Work Sans', sans-serif;
	font-weight: 500;
	letter-spacing: 0.1em;
	color: #FC1C61;
	text-transform: uppercase;
	display: inline-block;
	margin: 3% 0 auto;
}


img.lightbulb {
	width: 60px;
	margin-top:30px;
}

.divider-line {
    width: 80%;
    height: 1px;
    background-color: #f7f7f7;
    margin: 30px auto;
}

.mobile-divider-line {
	display: none;
    width: 80%;
    height: 1px;
    background-color: #f7f7f7;
    margin: 30px auto;
}

.left-border .pink{
	
}

p.bold {
	font-size: 1.25rem;
	font-weight: 600;
    margin-top: 0;
    margin-bottom: -15px;	
}




/*----- mobile 1111 ------*/

@media only screen and (max-width: 846px) {

    .case-hero img {
    	width: 85%;
    	display: block;
    	float: none;
    	margin: 0 auto;
	}

    .case-hero .left-border {
		width: 100%;
    	margin: auto;
    	padding-left: 0%;
    	font-size: 0.85rem;
    	border: none;
	}
	
	.case-about {
		width: 96%;
		margin: 0 auto;
		margin-top: -11%;
		float: none;
	}

	.hero-box {
		background-position: 50% 10%; 
	}

	.intro .center {
		padding-left: 0;
		width: 79%;
	}

	.intro .detail{
		    width: 100%;
    		margin: 15px 0 0;
	}

	.detail:first-of-type {
    margin-top: 0;
	}

}

@media only screen and (max-width: 720px) {

	.mobile-divider-line {
		display: block;
	}

	.line {
		display: none;
	}

	.left-border {
		border: none;
		padding-left: 0; 
	}

}




/*----------- Slant (case study) --------
	-webkit-clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 80%);
	clip-path: polygon(0 0, 100% 0%, 100% 95%, 0 80%);

	-----------*/